<form action="/API/product" method="POST">
    <input type="text" name="imageURL" placeholder="ImageURL" class="imageURL" required/>
    <input type="text" name="name" placeholder="Product name" class="productName" required/>
    <input type="text" name="price" placeholder="Price" class="price" required/>
    <input type="text" name="description" placeholder="Description" class="description" required/>
    <select name="category" required>
        <option value="" selected hidden>Select Category</option>
        <option value="smartphone">Smartphone</option>
        <option value="tablet">Tablet</option>
        <option value="laptop">Laptop</option>
        <option value="accessories">Accessories</option>
    </select>
    <button type="submit" class="submit">Add Product</button>
</form>