<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/laptop">Laptop</a></li>
      <li class="breadcrumb-item active" aria-current="page">Asus ROG Strix G15</li>
    </ol>
  </nav>
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/laptop/Asus ROG Strix G15.png" width="407" height="310" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
    </div>

    <div class="col-12 col-lg-6">
        <div class="infos">

            <h1 class="product-name">Asus ROG Strix G15</h1>
            <h3 class="price">99,995.00</h3>
            
        </div>

        <div id="more-inACfos">
            <h5 class="description">Description</h5>
        </div>

        <div id="product-description">
            <p class="paragraph" style="display: block;">
                The ROG Strix G15/17 embodies streamlined design, offering a formidable core experience for serious gaming and multitasking on Windows 10 Pro. Featuring up to the latest 10th Gen Intel® Core™ i7 CPU and a GeForce RTX™ 2070 SUPER GPU, it offers high-FPS power that takes full advantage of up to a blazing fast 240Hz/3ms display. Intelligent cooling innovations like liquid metal take performance to another level. Ultrafast Wi-Fi 6 connectivity and up to 2 SSDs running in RAID 0 accelerate work and play. Space for a third SSD means you can upgrade your storage to carry your complete games collection everywhere you go. (NVIDIA® GeForce RTX™ 2060 / 15" FHD IPS 240HZ / i7-10750H / 16GB RAM/ 512GB x2 PCIE SSD (Raid 0) / GLACIER BLUE / Win10)</p>              
        </div>

        <div class="buttons">
            <button id="add-to-cart" class="btn btn-primary btn-dark btn-md px-2 me-md-2><i class="fas fa-shopping-cart"></i>ADD TO CART</button>
            <button class="btn btn-outline-secondary btn-md px-2 me-md-2">BUY NOW</button>
        </div>
    </div>
</div>