<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/category/accessories">Accessories</a></li>
      <li class="breadcrumb-item active" aria-current="page">Samsung Galaxy Watch 4</li>
    </ol>
  </nav>
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/description/Galaxy Watch4 4G.png" width="407" height="310" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
    </div>

    <div class="col-12 col-lg-6">
        <div class="infos">

            <h1 class="product-name">Samsung Galaxy Watch 4</h1>
            <h3 class="price">14,990</h3>
            
        </div>

        <div id="more-inACfos">
            <h5 class="description">Description</h5>
        </div>

        <div id="product-description">
            <p class="paragraph" style="display: block;">
                Samsung Galaxy Watch4 supports frequency bands GSM , HSPA , LTE. Official announcement date is August 11 2021. The device is working on an Android Wear OS, One UI Watch 3 with a Dual-core 1.18 GHz Cortex-A55 processor. Samsung Galaxy Watch4 has 16GB 1.5GB RAM of built-in memory. This device has a Exynos W920 (5 nm) chipset. The main screen size is 1.4 inches with 450 x 450 pixels resolution. It has a 330 ppi density) ppi pixel density. ALL VERSIONS 44MM40MM 44mm size, 1.4" display, 361 mAh battery 40mm size, 1.2" display, 247 mAh battery</p>              
        </div>

        <div class="buttons">
            <button id="add-to-cart" class="btn btn-primary btn-dark btn-md px-2 me-md-2><i class="fas fa-shopping-cart"></i>ADD TO CART</button>
            <button class="btn btn-outline-secondary btn-md px-2 me-md-2">BUY NOW</button>
        </div>
    </div>
</div> -->