<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/description/Samsung Galaxy Note.png" width="407" height="310" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
    </div>

    <div class="col-12 col-lg-6">
        <div class="infos">

            <h1 class="product-name">Samsung Galaxy Note20</h1>
            <h3 class="price">53,990.00</h3>
            
        </div>

        <div id="more-infos">
            <h5 class="description">Description</h5>
        </div>

        <div id="product-description">
            <p class="paragraph" style="display: block;">
                Samsung Galaxy Note20 5G supports frequency bands GSM , CDMA , HSPA , EVDO , LTE , 5G. Official announcement date is August 05 2020. The device is working on an Android 10, One UI 2.5 with a Octa-core (2x2.73 GHz Mongoose M5 & 2x2.50 GHz Cortex-A76 & 4x2.0 GHz Cortex-A55) - GlobalOcta-core (1x3.0 GHz Kryo 585 & 3x2.42 GHz Kryo 585 & 4x1.8 GHz Kryo 585) - USA processor and 256GB 8GB RAM memory. Samsung Galaxy Note20 5G has 128GB 8GB RAM of internal memory. This device has a Exynos 990 (7 nm+) - GlobalQualcomm SM8250 Snapdragon 865+ (7 nm+) - USA chipset. The main screen size is 6.7 inches, 108.4 cm2 with 1080 x 2400 pixels, 20:9 ratio resolution. It has a 393 ppi density) ppi pixel density. The screen covers about 89.2% of the device's body. This screen to body ratio is a very impressive Also available with 4G/LTE only Versions: SM-N981B (International); SM-N981U (USA); SM-N981U1 (USA unlocked); SM-N981W (Canada)</p>
                    
        </div>

        <div class="buttons">
            <button id="add-to-cart" class="btn btn-primary btn-dark btn-md px-2 me-md-2><i class="fas fa-shopping-cart"></i>ADD TO CART</button>
            <button class="btn btn-outline-secondary btn-md px-2 me-md-2">BUY NOW</button>
        </div>
    </div>
</div>