<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/smartphone">Smartphone</a></li>
      <li class="breadcrumb-item active" aria-current="page">Samsung Galaxy S21 Ultra</li>
    </ol>
  </nav>
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/smartphone/Samsung Galaxy S21.png" width="407" height="310" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
    </div>

    <div class="col-12 col-lg-6">
        <div class="infos">

            <h1 class="product-name">Samsung Galaxy S21 Ultra</h1>
            <h3 class="price">69,990.00</h3>
            
        </div>

        <div id="more-infos">
            <h5 class="description">Description</h5>
        </div>

        <div id="product-description">
            <p class="paragraph" style="display: block;">
                Samsung Galaxy S21 Ultra 5G supports frequency bands GSM , CDMA , HSPA , EVDO , LTE , 5G. Official announcement date is January 14 2021. The device is working on an Android 11, One UI 3.1 with a Octa-core (1x2.9 GHz Cortex-X1 & 3x2.80 GHz Cortex-A78 & 4x2.2 GHz Cortex-A55) - InternationalOcta-core (1x2.84 GHz Kryo 680 & 3x2.42 GHz Kryo 680 & 4x1.80 GHz Kryo 680 - USA/China processor. Samsung Galaxy S21 Ultra 5G has 128GB 12GB RAM, 256GB 12GB RAM, 512GB 16GB RAM of built-in memory. This device has a Exynos 2100 (5 nm) - InternationalQualcomm SM8350 Snapdragon 888 (5 nm) - USA/China chipset. The main screen size is 6.8 inches, 112.1 cm2 with 1440 x 3200 pixels, 20:9 ratio resolution. It has a 515 ppi density) ppi pixel density. The screen covers about 89.8% of the device's body. This screen to body ratio is a very impressive Versions: SM-G998B, SM-G998B/DS (International); SM-G998U (USA); SM-G998U1 (USA unlocked); SM-G998W (Canada); SM-G998N (Korea); SM-G9980 (China)</p>       
        </div>

        <div class="buttons">
            <button id="add-to-cart" class="btn btn-primary btn-dark btn-md px-2 me-md-2><i class="fas fa-shopping-cart"></i>ADD TO CART</button>
            <button class="btn btn-outline-secondary btn-md px-2 me-md-2">BUY NOW</button>
        </div>
    </div>
</div>