<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/smartphone">Smartphone</a></li>
      <li class="breadcrumb-item active" aria-current="page">Realme GT Master Edition</li>
    </ol>
  </nav>
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/description/Realme GT.png" width="407" height="310" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
    </div>

    <div class="col-12 col-lg-6">
        <div class="infos">

            <h1 class="product-name">Realme GT Master Edition</h1>
            <h3 class="price">18,990.00</h3>
            
        </div>

        <div id="more-infos">
            <h5 class="description">Description</h5>
        </div>

        <div id="product-description">
            <p class="paragraph" style="display: block;">
                The realme GT Master Edition is a premium mid-range smartphone that claims to be the "real flagship killer". It features a 6.43-inch FHD+ Super AMOLED display with a 120Hz screen refresh rate, 64MP + 8MP + 2MP triple rear cameras with Street Photography mode, and a 32MP selfie camera.
                It runs on a Qualcomm Snapdragon 778G chipset with 8GB of RAM, Android 11 OS, and realme UI 2.0 software. There's also an under-display fingerprint scanner, 5G connectivity, dual-band Wi-Fi, NFC, Hi-Res audio, and either 128GB or 256GB of internal storage.
                A 4300mAh battery powers the device with support for 65W SuperDart fast charging technology. 
</p>       
        </div>

        <div class="buttons">
            <button id="add-to-cart" class="btn btn-primary btn-dark btn-md px-2 me-md-2><i class="fas fa-shopping-cart"></i>ADD TO CART</button>
            <button class="btn btn-outline-secondary btn-md px-2 me-md-2">BUY NOW</button>
        </div>
    </div>
</div>