<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/category/accessories">Accessories</a></li>
      <li class="breadcrumb-item active" aria-current="page">HomePod mini</li>
    </ol>
  </nav>
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/description/HomePod Mini.png" width="407" height="310" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
    </div>

    <div class="col-12 col-lg-6">
        <div class="infos">

            <h1 class="product-name">HomePod mini</h1>
            <h3 class="price">4,983.66</h3>
            
        </div>

        <div id="more-inACfos">
            <h5 class="description">Description</h5>
        </div>

        <div id="product-description">
            <p class="paragraph" style="display: block;">
                The HomePod mini is the smaller version of the original Apple HomePod. This smart home speaker carries out voice commands via the Siri smart assistant. Siri can answer questions for you, set reminders, send messages, and read the news. It can also control your smart home and execute commands to control your houses thermostat.</p>              
        </div>

        <div class="buttons">
            <button id="add-to-cart" class="btn btn-primary btn-dark btn-md px-2 me-md-2><i class="fas fa-shopping-cart"></i>ADD TO CART</button>
            <button class="btn btn-outline-secondary btn-md px-2 me-md-2">BUY NOW</button>
        </div>
    </div>
</div> -->