<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/category/laptop">Laptop</a></li>
      <li class="breadcrumb-item active" aria-current="page">HP Elite x2 G4</li>
    </ol>
  </nav>
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/description/HP Elite g2.png" width="407" height="310" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
    </div>

    <div class="col-12 col-lg-6">
        <div class="infos">

            <h1 class="product-name">HP Elite x2 G4</h1>
            <h3 class="price">70,181.00</h3>
            
        </div>

        <div id="more-inACfos">
            <h5 class="description">Description</h5>
        </div>

        <div id="product-description">
            <p class="paragraph" style="display: block;">
                HP Elite x2 G4 The HP Elite x2 G4 is a premium tablet running Windows 10 Pro. It features a full metal body with a Surface-style kickstand, Intel Whiskey Lake processors, and a choice of a 12.3 or 13-inch screen. The later one can be up to 1000 nits bright. You can get the Elite x2 G4 with a keyboard cover and an active pen.</p>              
        </div>

        <div class="buttons">
            <button id="add-to-cart" class="btn btn-primary btn-dark btn-md px-2 me-md-2><i class="fas fa-shopping-cart"></i>ADD TO CART</button>
            <button class="btn btn-outline-secondary btn-md px-2 me-md-2">BUY NOW</button>
        </div>
    </div>
</div> -->