<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/category/smartphone">Smartphone</a></li>
      <li class="breadcrumb-item active" aria-current="page">Huawei Y7a</li>
    </ol>
  </nav>
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/description/Huawei y7a.png" width="407" height="310" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
    </div>

    <div class="col-12 col-lg-6">
        <div class="infos">

            <h1 class="product-name">Huawei Y7a</h1>
            <h3 class="price">8,999.00</h3>
            
        </div>

        <div id="more-infos">
            <h5 class="description">Description</h5>
        </div>

        <div id="product-description">
            <p class="paragraph" style="display: block;">
                Huawei Y7a supports frequency bands GSM , HSPA , LTE. Official announcement date is October 21 2020. The device is working on an Android 10, EMUI 10.1, no Google Play Services with a Octa-core (4x2.0 GHz Cortex-A73 & 4x1.7 GHz Cortex-A53) processor and 128GB 4GB RAM memory. Huawei Y7a has 64GB 4GB RAM of internal memory. This device has a Kirin 710A (14 nm) chipset. The main screen size is 6.67 inches, 107.4 cm2 with 1080 x 2400 pixels, 20:9 ratio resolution.  </p>       
        </div>

        <div class="buttons">
            <button id="add-to-cart" class="btn btn-primary btn-dark btn-md px-2 me-md-2><i class="fas fa-shopping-cart"></i>ADD TO CART</button>
            <button class="btn btn-outline-secondary btn-md px-2 me-md-2">BUY NOW</button>
        </div>
    </div>
</div> -->