<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/category/accessories">Accessories</a></li>
      <li class="breadcrumb-item active" aria-current="page">Huawei 6700 mAh Power Bank</li>
    </ol>
  </nav>
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/description/Huawei 6700 mAh Power Bank.png" width="407" height="310" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
    </div>

    <div class="col-12 col-lg-6">
        <div class="infos">

            <h1 class="product-name">Huawei 6700 mAh Power Bank</h1>
            <h3 class="price">671.68</h3>
            
        </div>

        <div id="more-inACfos">
            <h5 class="description">Description</h5>
        </div>

        <div id="product-description">
            <p class="paragraph" style="display: block;">
                Original Huawei CP07 Power Bank - 6700mAh This original Huawei external battery boasts 6700mAh of battery capacity, for a safe and quick charging of your device while on-the-move. Thanks to its high capacity, this power bank can recharge your device several times before you need to connect it to a power source.</p>              
        </div>

        <div class="buttons">
            <button id="add-to-cart" class="btn btn-primary btn-dark btn-md px-2 me-md-2><i class="fas fa-shopping-cart"></i>ADD TO CART</button>
            <button class="btn btn-outline-secondary btn-md px-2 me-md-2">BUY NOW</button>
        </div>
    </div>
</div>