<!--Landing Page-->
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
       <img src="/img/techie.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Your best friend in choosing the best technology</h1>
        <p class ="lead">Maximize the user's ease of purchasing the product by providing fast, reliable, and quality products through online.
        </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore</a>
        <a href="#about-us" class="btn btn-outline-secondary btn-lg px-4 me-md-2">About us</a>
    </div>
</div>


<!--About-->
<div class="container bg-light" id="about-us" >
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold mb-3">About us</h1>
            <p class ="lead">TechStuff is an e-commerce platform mainly for technologies including but not limited to laptops, tablets, smartphones, and accessories.
            </p>
        </div>
        
        <div class="col-12 col-lg-6">
           <img src="/img/techie.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
        </div>
    
    </div>

</div>


<!--Products-->
<div class="container" id="product">
    <h1 class="center">Products</h1>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-1">
        <a href="/smartphone" class="col text-center category__link">
            <div class="category__img shadow">
                <img src="img/phone.jpg" alt="Phone" loading="lazy">
            </div>
            <div class="product-title">Smartphone</div>
        </a>
        <a href="/tablet" class="col text-center category__link">
            <div class="category__img shadow">
                <img src="img/ipad.jpg" alt="Ipad" loading="lazy">
            </div>
            <div class="product-title">Tablets</div>
        </a>
        <a href="/laptop" class="col text-center category__link">
            <div class="category__img shadow">
                <img src="img/laptop.jpg" alt="Laptop" loading="lazy">
            </div>
            <div class="product-title">Laptops</div>
        </a>
        <a href="/accessories" class="col text-center category__link">
            <div class="category__img shadow">
                <img src="img/accessories.jpg" alt="Accessories" loading="lazy">
            </div>
            <div class="product-title">Accessories</div>
        </a>
        <a href="/viewAll" class="col text-center category__link">
            <div class="category__img shadow">
                <img src="img/view all.jpg" alt="View All" loading="lazy">
            </div>
            <div class="product-title">View All</div>
        </a>
    </div>
</div>

<!-- FOOTER -->
<footer class="bg-dark">
    <div class="row-row">
        <div class ="col1">
            <h1 class="techstuff">TECHSTUFF</h1>
            <p class="copyright">© 2021 - All Rights Reserved</p>
        </div>

        <div class="col1">
            <h3>Follow us <div class="underline"><hr></div></h3>
            <p><i class="bi bi-facebook"></i>    Tech Stuff</p>
            <p><i class="bi bi-instagram"></i>  tech_stuff</p>
            <p><i class="bi bi-twitter"></i>    techstuff</p>
            <p><i class="bi bi-linkedin"></i>   TechStuff</p>
            <!-- <p class="email-id"><i class="bi bi-envelope-fill"></i> t.stuff@gmail.com</p> -->
            <!-- <p><i class="bi bi-telephone"></i>  09652324894</p> -->
        </div>
        <div class="col1">
            <h3>Products <div class="underline"><hr></div></h3>
            <ul>
                <li><a href="/smartphone">Smartphone</a></li>
                <li><a href="/tablet">Tablet</a></li>
                <li><a href="/laptop">Laptop</a></li>
                <li><a href="/accessories">Accessories</a></li>
            </ul>
        </div>
        <div class="col1">
            <h3>Feedback <div class="underline"><hr></div></h3>
            <p class="email-id"><i class="bi bi-envelope-fill"></i> t.stuff@gmail.com</p>
            <p><i class="bi bi-telephone"></i>  09652324894</p>
            <!-- <form
                <i class="far fa-envelope"></i>
                <input type="email" placeholder="Enter your email id" required>
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form> -->
           
        </div>
    </div>
</footer>
</div>
</div>