<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/tablet">Tablet</a></li>
      <li class="breadcrumb-item active" aria-current="page">iPad (8th Gen)</li>
    </ol>
  </nav>
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/description/iPad 8.png" width="427" height="300" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
    </div>

    <div class="col-12 col-lg-6">
        <div class="infos">

            <h1 class="product-name">iPad (8th Gen)</h1>
            <h3 class="price">27,990.00</h3>
            
        </div>

        <div id="more-infos">
            <h5 class="description">Description</h5>
        </div>

        <div id="product-description">
            <p class="paragraph" style="display: block;">
                The new iPad. It’s your digital notebook, mobile office, photo studio, game console, and personal cinema. The A12 Bionic chip that can easily power essential apps and immersive games. So you can edit a document while researching on the web and making a FaceTime call to a colleague at the same time. Apple Pencil makes note-taking with the iPad a breeze. Attach a full-size Smart Keyboard for comfortable typing. And go further with fast wireless and all-day battery life.

</p>                   
        </div>

        <div class="buttons">
            <button id="add-to-cart" class="btn btn-primary btn-dark btn-md px-2 me-md-2><i class="fas fa-shopping-cart"></i>ADD TO CART</button>
            <button class="btn btn-outline-secondary btn-md px-2 me-md-2">BUY NOW</button>
        </div>
    </div>
</div>