<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/description/phone.png" width="407" height="310" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
    </div>

    <div class="col-12 col-lg-6">
        <div class="infos">

            <h1 class="product-name">iPhone XS Max</h1>
            <h3 class="price">44,544.00</h3>
            
        </div>

        <div id="more-infos">
            <h5 class="description">Description</h5>
        </div>

        <div id="product-description">
            <p class="paragraph" style="display: block;">
                Apple iPhone XS Max supports frequency bands GSM , CDMA , HSPA , EVDO , LTE. Official announcement date is September 2018. The device is working on an iOS 12 with a Hexa-core processor and 4 GB RAM memory. Apple iPhone XS Max has 64/256/512 GB of internal memory. This device has an Apple A12 Bionic chipset. The main screen size is 6.5 inches, 102.9 cm2 with 1242 x 2688 pixels, 19.5:9 ratio resolution. It has a 458 ppi density) ppi pixel density. The screen covers about 84.4% of the device's body. This screen to body ratio is a very impressive.</p>
                    
        </div>

        <div class="buttons">
            <button id="add-to-cart" class="btn btn-primary btn-dark btn-md px-2 me-md-2><i class="fas fa-shopping-cart"></i>ADD TO CART</button>
            <button class="btn btn-outline-secondary btn-md px-2 me-md-2">BUY NOW</button>
        </div>
    </div>
</div>