    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/#product">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Laptops</li>
            </ol>
        </nav>

        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-1">
            <% for (var product of products) { %>
                <%- include("./product", {name: product.name, image: product.imageURL, link:`/product/${product._id}`}) %>
             <% }%>
        
            
        </div>


    </div>

