<a href="<%= link %>" class="col text-center category__link">
    <div class="category__img shadow">
        <img src="<%= image %>" alt="Product" loading="lazy">
    </div>
    <div class="pt-1"><%= name %>

    </div>
</a>

