<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/register.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
    </div>
     

  <div class="col-12 col-lg-6 "> 
    <div class="SIGNUP">Sign Up</div>
    <div class="content">
      <form action="/register" method="POST">
        <div class="user-details">
          <div class="input-box1">
            <label class="details"></span>
            <input type="text" id="firstname" name="firstname" placeholder="First Name" required>
          </div>
          <div class="input-box1">
            <label class="details"></span>
            <input type="text" id="middlename" name="middlename" placeholder="Middle Name" required>
          </div>
          <div class="input-box1">
            <label class="details"></span>
            <input type="text" id="lastname" name="lastname" placeholder="Last Name" required>
          </div>
          <div class="input-box2">
            <label class="details"></span>
            <input type="text" id="email" name="email" placeholder="Email" required>
          </div>
          <div class="input-box2">
            <label class="details"></span>
            <input type="text" id="phone" name="phone" placeholder="Phone Number" required>
          </div>
          <div class="input-box3">
            <label class="details"></span>
            <input type="text" id="street" name="street" placeholder="Street" required>
          </div>
          <div class="input-box3">
            <label class="details"></span>
            <input type="text" id="brgy" name="brgy" placeholder="Barangay" required>
          </div>
          <div class="input-box3">
            <label class="details"></span>
            <input type="text" id="mn" name="mn" placeholder="Municipality" required>
          </div>
          <div class="input-box3">
            <label class="details"></span>
            <input type="text" id="prov" name="prov" placeholder="Province" required>
          </div>
          <div class="input-box4">
            <label class="details"></span>
            <select id="gender" name="gender" class="details">
              <option selected>Select Gender</option>
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>
          <div class="input-box4">
            <label class="details"></span>
            <input type="text" id="password" name="password" placeholder="Enter your password" required>
          </div>
        </div>   
        <div class="button">
          <button class="submit btn-primary btn-dark align-items-center px-4 me-md-2" type="submit" id="signup" name="signup">Sign Up</button>
        </div>
      </form>
    </div>
  </div>


 
<!--<h1 class="SIGNUP">Sign Up</h1>



<!--  <form action="/register" method="POST">



    <div class="FIRSTNAME ">
        <label for="inputFirstName" class="firstname"></label>
        <input type="text" class="firstname" id="inputFirstName" placeholder="Firstname">
    </div>
    <div class="MIDDLENAME">
        <label for="inputFirstName" class="firstname"></label>
        <input type="text" class="middlename" id="inputMiddleName" placeholder="Middlename">
    </div>
    <div class="LASTNAME">
        <label for="inputFirstName" class="firstname"></label>
        <input type="text" class="lastname" id="inputLastName" placeholder="Lastname">
    </div>
    
    <div class="Email">
          <label for="inputEmail4" class="email"></label>
          <input type="email" class="email form-floating" id="inputEmail" placeholder="Email">
   
          
          <input type="number" class="phoneNumber form-floating" id="inputNumber" placeholder="Phone Number"  >
    </div>
    


    <div class="FIRSTNAME">
        <label ></label>
        <input class="firstname col-9" type="text" id="firstname" name="firstname" placeholder="First Name" required>
    </div>
    <div class="MIDDLENAME">
        <label class=""></label>
        <input class="middlename col-9" type="text" id="middlename" name="middlename" placeholder="Middle Name" required>
    </div>
    <div class="LASTNAME">
        <label class=""></label>
        <input class="lastname col-9" type="text" id="lastname" name="lastname" placeholder="Last Name" required>
    </div>


    <div class="col-9 EMAIL-PHONE m-0 p-0">
        <label class=""></label>
        <input class="form-floating col-auto m-0 p-0" type="text" id="email" name="email" placeholder="Email" required>
        
        <input class="form-floating col-auto m-0 p-0" type="text" name="phone" id="phone" placeholder="Phone Number" required>
    </div>
    
    <div class="ADDRESS">
        <label class=""></label>
        <input class="address col-9"type="text" id="address" name="address" placeholder="Address" required>
    </div>
    <div class="GENDER-PASSWORD">
        <label class=""></label>
        <select name="gender" id="gender">
            <option value="" selected hidden>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <label class=""></label>
        <input type="password" id="password" name="password" placeholder="Password" required>    
   
    <br>
    <label class="sub"></label>
    <button class="SUBMIT btn-primary btn-dark align-items-center btn-lg px-4 me-md-2" type="submit" id="register" name="register">Register</button>
</form>
<br>
<a href="/login" class="have-an-account">Already have an account?</a>
</div>
</div>
</div>-->