<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/description/Huawei Scale 3 Pro.png" width="407" height="310" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Techie">
    </div>

    <div class="col-12 col-lg-6">
        <div class="infos">

            <h1 class="product-name">Huawei Scale 3 Pro</h1>
            <h3 class="price">3,944.35</h3>
            
        </div>

        <div id="more-inACfos">
            <h5 class="description">Description</h5>
        </div>

        <div id="product-description">
            <p class="paragraph" style="display: block;">
                Huawei Smart Scale 3 Pro uses professional eight electrodes and high and low dual frequency technology to comprehensively measure intracellular and external fluid data.

The accuracy can be compared to the professional gold standard and fat mass. The correlation between the skeletal muscles of the limbs and the DEXA professional human body analyzer can reach 0.94</p>              
        </div>

        <div class="buttons">
            <button id="add-to-cart" class="btn btn-primary btn-dark btn-md px-2 me-md-2><i class="fas fa-shopping-cart"></i>ADD TO CART</button>
            <button class="btn btn-outline-secondary btn-md px-2 me-md-2">BUY NOW</button>
        </div>
    </div>
</div>