.breadcrumb-item {
    font-family: "Poppins", sans-serif;
  }
  
  .category__link {
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;
  }
  
  .category__link:hover {
    transform: scale(1.1);
  }
  
  .category__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    border-radius: 0px;
  }
  
  .category__img img {
    width: 100%;
    object-fit: cover;
  }
  
  .pt-1 {
    color: #5c5e60;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  
  .product-name {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding-left: 15%;
  }
  
  .price {
    font-family: "Poppins", sans-serif;
    font-weight: 50;
    font-size: 1.5rem;
    padding-left: 15%;
  }
  
  .description {
    font-family: "Poppins", sans-serif;
    padding-left: 15%;
    margin-top: 5%;
  }
  
  .paragraph {
    font-family: "Poppins", sans-serif;
    padding-left: 15%;
  }
  
  .buttons {
    font-family: "Poppins", sans-serif;
    padding-left: 15%;
    border-radius: 0;
    outline: none;
    cursor: pointer;
  }
  