:root{
    --bs-font-sans-serif: 'Albra', sans-serif;
}
.btn{
    border-radius: 0px;
    font-family: 'Poppins', sans-serif;
}

.nav-link,
.form-control,
.lead{
    font-family: 'Poppins', sans-serif;
}


/*Products*/

.center{
    font-weight: bold;
    margin: 50px 30px 35px 20px;
    text-align: center;
    
}
.category__link{
    text-align: center;
    display:block;
    text-decoration: none;
    transition: 250ms all;
}

.category__link:hover{
    transform: scale(1.1);
}

.category__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    overflow: hidden;
    border-radius: 0px;
}

.category__img img{
    width: 100%;
    object-fit: cover;
}

.product-title{
    color:#5c5E60;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


/*footer*/

footer{
	width: 100%;
	/* position: absolute; */
	/* bottom: 0; */
	color:#ffff;
	padding: 100px 0 30px;
	/* border-top-left-radius: 125px; */
	font-size: 13px;
	line-height: 5px;
	font-family: 'Poppins', sans-serif;
	padding-left: 50%;
	padding-top: 5%;
}
.row-row{
	width:85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content:space-between;
}
.col1{
	flex-basis: 25%;
	padding: 10px;
}
.col1:nth-child(2), .col1:nth-child(3){
	flex-basis: 15%;
	padding: 10px;

}
.techstuff{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 30px;
	color:#ccc;
	padding-top: 23%;
}

.col1 h3{
	width: fit-content;
	position: relative;
	font-size: 20px;
	line-height: 3%;
}
.email-id{
	width: fit-content;
}

.footer-link{
	font-size: 14px;
	line-height: 10px;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	color: #ffff;
	width: fit-content;
}
.footer-link:hover{
	color: #ccc;
}



.col1 form{
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	margin-bottom: 50px;
}
.col1 form .far{
	font-size: 18px;
	margin-right: 10px;
}
.col1 form input{
	width: 100%;
	background: transparent;
	color: #ccc;
	border: 0;
	outline: none;
}
.col1 form button{
	background: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
}
.col1 form button .fas{
	font-size: 16px;
	color:#ccc;
}
.social-icons .fab{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color:#000 ;
	background: #fff;
	margin-right: 15px;
	cursor: pointer;
}

