:root{
    --bs-font-sans-serif: 'Rubik', sans-serif;
    --bs-font-sans-serif: 'Albra', sans-serif;
}
/*
.display-5{
    color: #5c5E60;
}
*/
.btn{
    border-radius: 0px;
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
}
.form-control{
    font-family: 'Poppins', sans-serif;
}
.lead{
    font-family: 'Poppins', sans-serif;
}

/*Products*/

.center{
    font-weight: bold;
    margin: 50px 30px 35px 20px;
    text-align: center;
    
}
.category__link{
    text-align: center;
    display:block;
    text-decoration: none;
    transition: 250ms all;
}

.category__link:hover{
    transform: scale(1.1);
}

.category__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    overflow: hidden;
    border-radius: 0px;
}

.category__img img{
    width: 100%;
    object-fit: cover;
}

.product-title{
    color:#5c5E60;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}